body {
  background: silver; }

@media (min-width: 480px) {
  body {
    background: green; } }
@media (min-width: 768px) {
  body {
    background: blue; } }
@media (min-width: 1200px) {
  body {
    background: red; } }
